@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Base Styles for Zing */
body {
  background-color: #050506; /* z-page */
  color: #f2f1ed; /* z-text */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* Hide scrollbars for that clean iOS app feel */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}